*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: rgb(157, 111, 91);
  --secondary-color: darkgray;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.card {
  width: 60rem;
  height: 60rem;
  border-radius: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.company,
.mission,
.service,
.contact {
  flex: auto;
  width: 100%;
}

.company {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.mission {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mission p {
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.service {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service h3 {
  width: 100%;
  flex-grow: 0.5;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
}

.service .programs {
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.programs p {
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.service .brochure {
  flex-grow: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.contact {
  flex-grow: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: var(--primary-color) 0.1rem;
  border-top-style: groove;
}

.contact i {
  font-size: 2.5rem;
}
